body {
    background-color: ghostwhite;
  }
  
  h1 {
    color: blueviolet;
  }
  
  .center {
    text-align: center;
  }
  .cor{
    color: gray;
  }
  #para {
    font-family: verdana;
    font-size: 20px;
  }
