body {
    background-image: url("img/fundo3.jpg");
  }
  
  h1 {
    color: blueviolet;
    background-color: lavender;
    
    border: 2px double lightblue;
    border-radius: 20px;
    text-shadow: 2px 2px 4px plum;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /*classes- isso é um comentario*/
  .center {
    text-align: center;
  }
  .cor{
    color: gray;
  }
  /*id*/
  #para {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: verdana;
    font-size: 20px;
  }
